<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FacturaElectSaiOpen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="connectionstring" value="DataSource=192.168.85.250;database=/bdts/DISTRI2018.FDB;user=sysdba;password=masterkey" />
    <add key="urlservice" value="https://emision21.thefactoryhka.com.co/ws/v1.0/Service.svc?wsdl" />
    <add key="urladjuntos" value="https://emision21.thefactoryhka.com.co/ws/adjuntos/Service.svc?wsdl" />
    <add key="token" value="58b28a38a9777c44ad2383ea8e36b939458b1b06" />
    <add key="tokenpassword" value="ac528091b5783faf5c455a32b9703474e754d87d" />
    <add key="prefijofe" value="PFE" />
    <add key="numdesde" value="1" />
    <add key="numhasta" value="5000" />
    <add key="prefijonc" value="NCP" />
    <add key="prefijond" value="NDP" />
    
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpsBinding_IService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpsBinding_IService1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://testubl21.thefactoryhka.com.co/ws/v1.0/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="tfhk_Emision.IService" name="BasicHttpBinding_IService" />
      <endpoint address="https://demoemision21.thefactoryhka.com.co/ws/v1.0/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService"
        contract="tfhk_Emision.IService" name="BasicHttpsBinding_IService" />
      <endpoint address="http://testubl21.thefactoryhka.com.co/ws/adjuntos/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="tfhk_Adjuntos.IService" name="BasicHttpBinding_IService1" />
      <endpoint address="https://demoemision21.thefactoryhka.com.co/ws/adjuntos/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService1"
        contract="tfhk_Adjuntos.IService" name="BasicHttpsBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>